.reviews {

    padding-bottom: 4rem;

    text-align: center;

    &__content {
        display: flex;
        width: calc(400% + 4rem);
        margin-bottom: 2rem;
    }

    &__switch-review {

        margin-bottom: 4rem;
        
        span {

            display: inline-block;
            height: 15px;
            width: 15px;
            border: 2px solid $BrightRed;
            border-radius: 50%;
            cursor: pointer;
            position: relative;

            &.full {
                background-color: $BrightRed;
            }

            &:after {
                transform: scale(0);
                transition: transform 0.6s ease;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background-color: hsla(12, 88%, 59%, 0.438);
                transform-origin:center;
            }

            &:hover {
                
                &:after {
                    
                    transform: scale(1);
                    
                }
            }
        }
    }

    &__switch {

        &--tablet {

            content: '';
            color: #fff;
            font-size: 3rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.158);
            cursor: pointer;
            transition: all 0.2s ease;

            // flex container
            display: flex;
            align-items: center;
            justify-content: center;

            // translate
            transform: translate(calc(-50% - 1rem), 50%);

            i {
                color: #fff;
                // transform: translate(-50%, -50%);
                font-size: 2.3rem;

            }

            &:nth-child(2) {
                left: unset; 
                right: 0;
                transform: translate(calc(50% + 1rem), 50%);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.336);
            }
        }
    }

    @include breakpoint-up('desktop') {

        padding-bottom: 15rem;

        &__content {

            transform: translateX(-12.5%);
            width: calc(200% + 4rem);
            margin-bottom: 4rem;


        }

        &__switch-review {
            display: none;
        }
    }
}